<STYLE type= "text/css">




html, body {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align:left;
  width:100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  position:relative;
   }

@font-face {
  font-family:"brandon-grotesque";
  src:url("https://use.typekit.net/af/1da05b/0000000000000000000132df/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/1da05b/0000000000000000000132df/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/1da05b/0000000000000000000132df/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:200;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  color:white;
.active {
  background-color: #b3b3b3;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  color:white;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}
  
  
/* Header */


/*heading of text*/
h1{
  padding:-40px;
  font-family:Georgia,serif;
  font-size:35px;
  font-style:normal;
}
h2{
  padding:10px;
  font-size:20px;
  font-style:normal;
  font-weight:600;
  font-family:georgia, serif;
  letter-spacing:0.01em;
  text-align:center;
}
/*Resume*/
.button{
  text-align:center;
  float:center;
  padding: 15px 40px;
  border-radius:70px;
  background-color:white;
  border:2px solid #4CAF50;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 40px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*UMN Image*/
.myImage {
  padding: 15px 40px;
  float: left;
  width: 55%;
  max-width:"100px";
  font-family: Veranda;
}
/*Text*/
.heading {
  float:right;
}
p{
  text-indent:30px;
  padding:10px;
  text-align:left;
  font-size:17px;
  letter-spacing:0.09em;
}
h3{
  text-align:center;
  padding:-10px;
  font-size:20px;
}
h4{
  text-align:center;
  padding:-50px;
  font-size:20px;
}



</STYLE>
